<p>Competência:</p> @ViewData["titulo"]
@{
    var competencia = ViewData["tablebloom"] as Competencia;
}
<!--linha1-->
<div class="container">
    <div class="row">
        <div class="col">
            Memorizar
        </div>
        <div class="col">
            Compreender
        </div>
        <div class="col">
            Aplicar
        </div>
        <div class="col">
            Analisar
        </div>
        <div class="col">
            Avaliar
        </div>
        <div class="col">
            Criar
        </div>
    </div>
</div>

<!--linha2-->

<div class="container">
    <div class="row">
        <div class="col">
            @competencia?.LinhaBloom
        </div>
        <div class="col">
            linha 2 - Coluna 2
        </div>
        <div class="col">
            linha 2 - Clouna 3
        </div>
        <div class="col">
            linha 2 - Coluna 4
        </div>
        <div class="col">
            linha 2 - Coluna 5
        </div>
        <div class="col">
            linha 2 - Coluna 6
        </div>
    </div>
</div>


<!--linha3-->

<div class="container">
    <div class="row">
        <div class="col">
            linha 3 - Coluna 1
        </div>
        <div class="col">
            linha 3 - Coluna 2
        </div>
        <div class="col">
            linha 3 - Clouna 3
        </div>
        <div class="col">
            linha 3 - Coluna 4
        </div>
        <div class="col">
            linha 3 - Coluna 5
        </div>
        <div class="col">
            linha 3 - Coluna 6
        </div>
    </div>
</div>



<!--linha4-->

<div class="container">
    <div class="row">
        <div class="col">
            linha 4 - Coluna 1
        </div>
        <div class="col">
            linha 4 - Coluna 2
        </div>
        <div class="col">
            linha 4 - Clouna 3
        </div>
        <div class="col">
            linha 4 - Coluna 4
        </div>
        <div class="col">
            linha 4 - Coluna 5
        </div>
        <div class="col">
            linha 4 - Coluna 6
        </div>
    </div>
</div>



<!--linha5-->

<div class="container">
    <div class="row">
        <div class="col">
            linha 5 - Coluna 1
        </div>
        <div class="col">
            linha 5 - Coluna 2
        </div>
        <div class="col">
            linha 5 - Clouna 3
        </div>
        <div class="col">
            linha 5 - Coluna 4
        </div>
        <div class="col">
            linha 5 - Coluna 5
        </div>
        <div class="col">
            linha 5 - Coluna 6
        </div>
    </div>
</div>



<!--linha6-->

<div class="container">
    <div class="row">
        <div class="col">
            linha 6 - Coluna 1
        </div>
        <div class="col">
            linha 6 - Coluna 2
        </div>
        <div class="col">
            linha 6 - Clouna 3
        </div>
        <div class="col">
            linha 6 - Coluna 4
        </div>
        <div class="col">
            linha 6 - Coluna 5
        </div>
        <div class="col">
            linha 6 - Coluna 6
        </div>
    </div>
</div>



<!--linha7-->

<div class="container">
    <div class="row">
        <div class="col">
            linha 7 - Coluna 1
        </div>
        <div class="col">
            linha 7 - Coluna 2
        </div>
        <div class="col">
            linha 7 - Clouna 3
        </div>
        <div class="col">
            linha 7 - Coluna 4
        </div>
        <div class="col">
            linha 7 - Coluna 5
        </div>
        <div class="col">
            linha 7 - Coluna 6
        </div>
    </div>
</div>




<!--linha8-->

<div class="container">
    <div class="row">
        <div class="col">
            linha 8 - Coluna 1
        </div>
        <div class="col">
            linha 8 - Coluna 2
        </div>
        <div class="col">
            linha 8 - Clouna 3
        </div>
        <div class="col">
            linha 8 - Coluna 4
        </div>
        <div class="col">
            linha 8 - Coluna 5
        </div>
        <div class="col">
            linha 8 - Coluna 6
        </div>
    </div>
</div>


<div class="text-center">
    <h1 class="display-4">Taxonomia de Bloom</h1>


    <form>
        Digite o verbo <input type="text">
        <br>
        <br>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                Selecione o verbo
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Memorizar</a></li>
                <li><a class="dropdown-item" href="#">Compreender</a></li>
                <li><a class="dropdown-item" href="#">Aplicar</a></li>
                <li><a class="dropdown-item" href="#">Avaliar</a></li>
                <li><a class="dropdown-item" href="#">Criar</a></li>


            </ul>
        </div>
        <br>
        <button> Cadastrar </button>
    </form>


</div>

